<!--
/*
  *************************************
  * AngularWinter2022                 *
  * for Angular 13.1                  *
  * @Jan / 2022 - by Edoardo Sabatini *
  *************************************
*/
-->
<nav class="register">
  <div><img src="/assets/images/registrati.png" height="40px"></div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <input type="text" formControlName="email"
          class="rcorner form-control fontplace"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
          placeholder="Email"
          type="email"
          />
          <div style="margin-top: 10px;"><img src="/assets/images/una_password.png" height="21px"></div>
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div *ngIf="f['email'].errors['required']">Email &egrave; richiesta</div>
              <div *ngIf="f['email'].errors['minlength']">Email: almeno 3 caratteri</div>
              <div *ngIf="f['email'].errors['pattern']">Email: deve essere formato standard</div>
          </div>
      </div>
      <div class="form-group">
          <button [disabled]="loading" class="rcornerButton">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Registrati
          </button>
          <button class="rcornerButton">
            <a routerLink="/login" class="rcornerLink">Login</a>
          </button>
      </div>
  </form>
</nav>
