/*
  *************************************
  * AngularWinter2022                 *
  * for Angular 13.1                  *
  * @Jan / 2022 - by Edoardo Sabatini *
  *************************************
*/
.myaccount {
  background-color: #D6E0D0;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
